activitywatch
btop/btop.log
dconf
gh
google-chrome
obsidian
processing
pulse
spotify
systemd/user
user-dirs.locale
user-dirs.dirs
pavucontrol.ini
mimeapps.list
lazygit/config.yml
qBittorrent
QtProject.conf
JetBrains/IdeaIC2024.2
go/telemetry/local
heroic
libreoffice/4/user
Code - OSS/User/workspaceStorage/158b510cd16a546020f03cb3b7e4c92b
Code - OSS/WebStorage
Code - OSS/logs
Code - OSS/.org.chromium.Chromium.iTiAp0
Code - OSS/Cookies
Code - OSS/Cookies-journal
Code - OSS/Network Persistent State
Code - OSS/Preferences
Code - OSS/SharedStorage
Code - OSS/TransportSecurity
Code - OSS/Trust Tokens
Code - OSS/Trust Tokens-journal
Code - OSS/languagepacks.json
Code - OSS/machineid
calibre
